menuconfig MODULES_SC_MPC_CONTROL
	bool "sc_mpc_control"
	default n
	---help---
		Enable support for sc_mpc_control

menuconfig USER_SC_MPC_CONTROL
	bool "sc_mpc_control running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_SC_MPC_CONTROL
	---help---
		Put sc_mpc_control in userspace memory
